@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

#buttonContainer {
    display: flex;
    min-width: 100vw;
}

#buttonContainer > div {
    width: 100%;
}

.button-shaddow {
    margin: 2px;
    box-shadow: 5px 5px lightgray;

}

h1 {
    text-transform: capitalize;
    text-align: center;
}

#buttonContainer > div > p {
    text-transform: uppercase;
    text-align: center;
}

.imageContainer {
    display: flex;

    justify-content: center;
}

.drumImg {
    padding: 50px;
}